<p>
  <b>Name:</b>
  <%=h @security_group.aws_group_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @security_group.aws_description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @security_group.aws_owner %>
</p>

<p>
  <b>Permissions:</b>
  <%=h @security_group.aws_perms %>
</p>


<%= link_to 'Edit', edit_security_group_path(@security_group) %> |
<%= link_to 'Back', security_groups_path %>
