<p>
  <b>Name:</b>
  <%=h @security_group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @security_group.description %>
</p>

<p>
  <b>Permissions:</b>
  <%=h @security_group.permissions %>
</p>


<%= link_to 'Edit', edit_security_group_path(@security_group) %> |
<%= link_to 'Back', security_groups_path %>
