<h2>Editing Instance</h2>

<%= render :partial => 'metadata'  %>

<% form_for(@instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @instance %> |
<%= link_to 'Back', instances_path %>
