<h2>New Instance</h2>

<% form_for(@instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aws_image_id %><br />
    <%= f.text_field :aws_image_id %>
  </p>
  <p>
    <%= f.label :aws_kernel_id %><br />
    <%= f.text_field :aws_kernel_id %>
  </p>
  <p>
    <%= f.label :aws_ramdisk_id %><br />
    <%= f.text_field :aws_ramdisk_id %>
  </p>
  <p>
    <%= f.label :ssh_key_name %><br />
    <%= f.text_field :ssh_key_name %>
  </p>
  <p>
    <%= f.label :aws_groups %><br />
    <%= f.text_field :aws_groups %>
  </p>
  <p>
    <%= f.label :aws_instance_type %><br />
    <%= f.text_field :aws_instance_type %>
  </p>
  <p>
    <%= f.label :aws_availability_zone %><br />
    <%= f.text_field :aws_availability_zone %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instances_path %>
