<p>
  <b>Attached At:</b>
  <%=h @volume.aws_attached_at.to_s(:long) %>
</p>

<p>
  <b>Attachment Status:</b>
  <%=h @volume.aws_attachment_status %>
</p>

<p>
  <b>Created At:</b>
  <%=h @volume.aws_created_at.to_s(:long) %>
</p>

<p>
  <b>Device:</b>
  <%=h @volume.aws_device %>
</p>

<p>
  <b>AWS ID:</b>
  <%=h @volume.aws_id %>
</p>

<p>
  <b>Instance ID:</b>
  <%=h @volume.aws_instance_id %>
</p>

<p>
  <b>Size:</b>
  <%=h @volume.aws_size %>
</p>

<p>
  <b>Status:</b>
  <%=h @volume.aws_status %>
</p>

<p>
  <b>Snapshot ID:</b>
  <%=h @volume.snapshot_id %>
</p>

<p>
  <b>Zone:</b>
  <%=h @volume.zone %>
</p>
