<h2>Editing Volume</h2>

<%= render :partial => 'metadata' %>

<% form_for(@volume) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aws_instance_id %><br />
    <%= f.text_field :aws_instance_id %>
  </p>
  <p>
    <%= f.label :aws_device %><br />
    <%= f.text_field :aws_device %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @volume %> |
<%= link_to 'Back', volumes_path %>
