<h2>New Volume</h2>

<% form_for(@volume) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aws_size, 'Size (in GB)' %><br />
    <%= f.text_field :aws_size %>
  </p>
  <p>
    <%= f.label :snapshot_id %><br />
    <%= f.text_field :snapshot_id %>
  </p>
  <p>
    <%= f.label :zone, 'Availability Zone' %><br />
    <%= f.select :zone, format_array_for_select(@availability_zones, :zone_name) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', volumes_path %>
