<h2>New Snapshot</h2>

<% form_for(@snapshot) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :aws_volume_id, 'Volume' %><br />
    <%= f.select :aws_volume_id, format_array_for_select(@volumes, :aws_id) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', snapshots_path %>
