<p>
  <b>Name:</b>
  <%=h @key_pair.aws_key_name %>
</p>

<p>
  <b>Fingerprint:</b>
  <%=h @key_pair.aws_fingerprint %>
</p>

<p>
  <b>Material:</b>
  <%=h @key_pair.aws_material %>
</p>

<%= link_to 'Edit', edit_key_pair_path(@key_pair) %> |
<%= link_to 'Back', key_pairs_path %>
