<p>
  <b>Name:</b>
  <%=h @key_pair.name %>
</p>

<p>
  <b>Fingerprint:</b>
  <%=h @key_pair.fingerprint %>
</p>

<p>
  <b>Private key:</b>
  <%=h @key_pair.private_key %>
</p>

<%= link_to 'Edit', edit_key_pair_path(@key_pair) %> |
<%= link_to 'Back', key_pairs_path %>
