<h1>Editing image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <h3>Metadata</h3>

  <p>
    <b>Architecture:</b>
    <%=h @image.architecture %>
  </p>

  <p>
    <b>AWS ID:</b>
    <%=h @image.aws_id %>
  </p>

  <p>
    <b>Is public:</b>
    <%=h @image.is_public %>
  </p>

  <p>
    <b>Location:</b>
    <%=h @image.location %>
  </p>

  <p>
    <b>Owner:</b>
    <%=h @image.owner_id %>
  </p>

  <p>
    <b>State:</b>
    <%=h @image.state %>
  </p>

  <p>
    <b>Type:</b>
    <%=h @image.image_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
