<h2>Listing Images</h2>

<p>[
  <%= link_to 'Personal', images_path %> |
  <%= link_to 'Amazon',     vendors_images_path(:owner_id => Account::Vendors::Amazon) %> |
  <%= link_to 'Alestic',    vendors_images_path(:owner_id => Account::Vendors::Alestic) %> |
  <%= link_to 'RBuilder',   vendors_images_path(:owner_id => Account::Vendors::RBuilder) %> |
  <%= link_to 'RedHat',     vendors_images_path(:owner_id => Account::Vendors::RedHat) %> |
  <%= link_to 'RightScale', vendors_images_path(:owner_id => Account::Vendors::RightScale) %> |
  <%= link_to 'Scalr',      vendors_images_path(:owner_id => Account::Vendors::Scalr) %> |
  <%= link_to 'Others',     others_images_path %>
]</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Architecture</th>
    <th>AWS ID</th>
    <th>Location</th>
    <th>Is public</th>
    <th>Owner</th>
    <th>State</th>
  </tr>

<% for image in @images %>
  <tr>
    <td><%=h image.name %></td>
    <td><%=h image.description %></td>
    <td><%=h image.image_type %></td>
    <td><%=h image.architecture %></td>
    <td><%=h image.aws_id %></td>
    <td><%=h image.location %></td>
    <td><%=h image.is_public %></td>
    <td><%=h image.owner_id %></td>
    <td><%=h image.state %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td>Search: <%= aws_search_link "Amazon", h(image.aws_id) %> | <%= google_search_link "Google", h(image.aws_id) %></td>
  </tr>
<% end %>
</table>
