<h1>Listing images</h1>

<p>[
  <%= link_to 'Personal', images_path %> |
  <%= link_to 'Amazon', others_images_path(:owner_id => Account::Owners::Amazon) %> |
  <%= link_to 'Alestic', others_images_path(:owner_id => Account::Owners::Alestic) %> |
  <%= link_to 'RBuilder', others_images_path(:owner_id => Account::Owners::RBuilder) %> |
  <%= link_to 'RedHat', others_images_path(:owner_id => Account::Owners::RedHat) %> |
  <%= link_to 'RightScale', others_images_path(:owner_id => Account::Owners::RightScale) %> |
  <%= link_to 'Scalr', others_images_path(:owner_id => Account::Owners::Scalr) %> |
  <%= link_to 'Others', others_images_path %>
]</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Architecture</th>
    <th>AWS ID</th>
    <th>Location</th>
    <th>Is public</th>
    <th>Owner</th>
    <th>State</th>
  </tr>

<% for image in @images %>
  <tr>
    <td><%=h image.name %></td>
    <td><%=h image.description %></td>
    <td><%=h image.image_type %></td>
    <td><%=h image.architecture %></td>
    <td><%=h image.aws_id %></td>
    <td><%=h image.location %></td>
    <td><%=h image.is_public %></td>
    <td><%=h image.owner_id %></td>
    <td><%=h image.state %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
  </tr>
<% end %>
</table>

<%= link_to "Sync with EC2", sync_images_path, :method => :post %>
