<p>
  <b>Architecture:</b>
  <%=h @image.aws_architecture %>
</p>

<p>
  <b>AWS Image ID:</b>
  <%=h @image.aws_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @image.description %>
</p>

<p>
  <b>Is public:</b>
  <%=h @image.aws_is_public %>
</p>

<p>
  <b>Location:</b>
  <%=h @image.aws_location %>
</p>

<p>
  <b>Name:</b>
  <%=h @image.name %>
</p>

<p>
  <b>Owner:</b>
  <%=h @image.aws_owner %>
</p>

<p>
  <b>State:</b>
  <%=h @image.aws_state %>
</p>

<p>
  <b>Type:</b>
  <%=h @image.aws_image_type %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
