<h2>Account</h2>

<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Aws account number:</b>
  <%=h @account.aws_account_number %>
</p>

<p>
  <b>Aws access key:</b>
  <%=h @account.aws_access_key %>
</p>

<p>
  <b>Aws secret access key:</b>
  <%=h truncate(@account.aws_secret_access_key, 20) %>
</p>

<p>
  <b>Aws x 509 key:</b>
  <%=h truncate(@account.aws_x_509_key, 60) %>
</p>

<p>
  <b>Aws x 509 certificate:</b>
  <%=h truncate(@account.aws_x_509_certificate, 60) %>
</p>


<%= link_to 'Edit', edit_account_path %> |
<%= link_to 'Back', account_path %>
